@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    transition: all 0.25s;
}

.hamburger > span{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger > span:nth-child(2){
    transform: translateY(7px);
}

.hamburger > span:last-child{
    transform: translateY(14px);
}

.hamburger.open {
    transform: rotate(90deg) translateY(0px);
}

.hamburger.open > span:first-child {
    transform: rotate(45deg) translateY(6px) translate(6px)
}

.hamburger.open > span:nth-child(2) {
   display: none;
}

.hamburger.open > span:last-child {
    transform: rotate(-45deg) translateY(6px) translate(-6px)
}

.swiper-pagination {
    display: block;
}

@media (min-width: 768px ) {
    .swiper-pagination {
        display:none;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: hsl(12, 88%, 59%);
    border: 1px solid hsl(12, 88%, 59%) !important;
}